
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

   <style>
      .about_bg{
      background: url("{% static 'home/img/bg/bg_1.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      }
   </style>


   <section class="breadcrumbs">
      <div class="container">
         <div class="d-flex justify-content-between align-items-center">
            <h2>About Us</h2>
            <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>About Us</li>
            </ol>
         </div>
      </div>
   </section>

   <section class="inner-page about_bg">
     <div class="container ">
      <div class="section-title">
         <h2>About us</h2>
         <div class="row">
            <div class="col-md-6">
               <img style="max-width: 350px;width: 70%;height: auto;" class="logo mr-auto" alt="Rams Rehab" src="{% static 'assets/img/logo/logo1.png' %}">
            </div>
            <div class="col-md-6" style="text-align: justify;font-weight: 500;">
               <p class="pt-md-5" style="line-height: 32px;">
                  RAMS Rehab is a Pain clinic established in 2020. This Rehab Center is completely focusing on the body pain and it's
                  management.
                  As we have noticed that medical professionals doesn't give much importance to pain management, rather than using
                  frequent pain killers. So we want to solve the most relevant problem facing by our society ' Pain '.<br>
                  By integrating traditional and most advanced techniques along with proper diet and exercise plans, which actually works
                  for a countless people who are suffering from 'Pain'.
                  And we would like to continue our passion and journey along with you " Who needs help in Pain".
               </p>
               <br>
               <br>
               <h4><strong>Our Mission</strong></h4>
               <p style="line-height: 32px;">
                  We are focusing on the root cause of your pain, 
                  without any pain killers we are restoring health by healing your pain
               </p>

               <br>
               <br>
               <h4><strong>Our Vission</strong></h4>
               <p style="line-height: 32px;">
                  To create a pain free world<br>
                     &mdash; Free from sleepless painful nights<br>
                  	&mdash; Free from pain killers<br>
                  	&mdash; Free from your emotional struggle<br>
                  	&mdash; Free from economic burden of pain<br>
                  	&mdash; To love yourself, your family & your job<br>
               </p>
            </div>
         </div>
         </div>
 
     </div>
   </section>

   {% include "counter.html" %}
 </main>
{% endblock content %}