
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

   <style>
      .about_bg{
      background: url("{% static 'home/img/bg/bg_1.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      }
   </style>


   <section class="breadcrumbs">
      <div class="container">
         <div class="d-flex justify-content-between align-items-center">
            <h2>About Us</h2>
            <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>About Us</li>
            </ol>
         </div>
      </div>
   </section>

   <section class="inner-page about_bg">
     <div class="container ">
      <div class="section-title">
         <h2>About us</h2>
         <div class="row">
            <div class="col-md-6">
               <img style="max-width: 350px;width: 70%;height: auto;" class="logo mr-auto" alt="Rams Rehab" src="{% static 'assets/img/logo/logo1.png' %}">
            </div>
            <div class="col-md-6" style="text-align: justify;font-weight: 500;">
               <p class="pt-md-5">
                  Ram's Rehab is a Physiotherapy and Dry needling clinic 
                  established in 2020. More than a traditional way of 
                  treatment, we are focusing on the cause of your pain 
                  and disability. Without medicine we are treating a 
                  permanent cure for your pain.
               </p>
               <br>
               <p>
                  RAM’S Rehab is the first Physical therapy center 
                  in India which focusing on the root cause of your 
                  migraine and eradicating migraine from your day 
                  to day life  through proper diet plan, Manual therapy 
                  and Therapeutic exercises.
               </p>
            </div>
         </div>
         </div>
 
     </div>
   </section>

   {% include "counter.html" %}
 </main>
{% endblock content %}