
{% extends 'administration/admin_base.html' %}
{% load static %}

{% block title %} Ram's Rehab | Administration {% endblock title %}

{% block content %}
      
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
   {% if user.is_superuser %}
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
              <span>Add Social Media URLs</span>
          </h4>
        </div>
    </div>

    <form action="" method="POST">
      {% csrf_token %}
    <div class="row wow fadeIn">
  
      
         <div class="col-md-6 ">
         <div class="card mb-4 ">
            <div class="card-header text-white bg-primary">Add Social Media URLs</div>
            <div class="card-body">
               <div class="list-group list-group-flush">
                  <div class="form-outline">
                     <label class="form-label" for="typeText1">Twitter URL </label>
                     <input name="twitter" value="{{ data.twitter }}" type="text" id="typeText1" class="form-control" />
                  </div>
                  <div class="form-outline mt-2">
                     <label class="form-label" for="typeText2">Facebook URL </label>
                     <input name="facebook" value="{{ data.facebook }}" type="text" id="typeText2" class="form-control" />
                  </div>
                  <div class="form-outline mt-2">
                     <label class="form-label" for="typeText2">Instagram URL </label>
                     <input name="instagram" value="{{ data.instagram }}" type="text" id="typeText2" class="form-control" />
                  </div>
                  <div class="form-outline mt-2">
                     <label class="form-label" for="typeText2">Google Plus URL </label>
                     <input name="google_plus" value="{{ data.google_plus }}" type="text" id="typeText2" class="form-control" />
                  </div>
                  <div class="form-outline mt-2">
                     <label class="form-label" for="typeText2">Linkedin URL </label>
                     <input name="linkedin" value="{{ data.linkedin }}" type="text" id="typeText2" class="form-control" />
                  </div>
                  <div class="form-outline mt-2 d-flex justify-content-center">
                     <button type="submit" class="btn btn-sm text-white btn-primary"><b>Submit</b> </button>
                     <a href="{% url 'administration_home' %}" type="button" class="btn text-white btn-sm btn-primary"><b>Cancel</b></a>
                  </div> 
                  
               </div>
            </div>
         </div>
         </div>

         <div class="col-md-6 ">
            {% for i in data %}
            <div class="card mb-4">
               <div class="card-body">
                  <div class="list-group list-group-flush">
                     <span class="d-flex justify-content-end">
                        <a href="{% url 'delete_social_media' i.id %}"><span class="badge badge-danger badge-pill pull-right">Delete</span></a>
                     </span>
                     <span class="d-flex justify-content-between">
                        <span>Current Social Media URLs</span> 
                        <small style="padding-right: 10px;">{{ i.submit_date | date:'d / m / Y' }}</small>
                     </span> 
                     <span class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-success badge-pill pull-right">t  
                        </span> &nbsp;
                        Twitter URL : <a target="_blank" href="{{ i.twitter }}">{{ i.twitter }}</a>
                     </span>

                     <span class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-success badge-pill pull-right">f 
                        </span> &nbsp;
                        Facebook URL : <a target="_blank" href="{{ i.facebook }}">{{ i.facebook }}</a>
                     </span>
                     <span class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-success badge-pill pull-right">i 
                        </span> &nbsp;
                        Instagram URL : <a target="_blank" href="{{ i.instagram }}">{{ i.instagram }}</a>
                     </span>
                     <span class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-success badge-pill pull-right">g
                        </span> &nbsp;
                        Google Plus URL : <a target="_blank" href="{{ i.google_plus }}">{{ i.google_plus }}</a>
                     </span>
                     <span class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-success badge-pill pull-right">l
                        </span> &nbsp;
                        Linkedin URL : <a target="_blank" href="{{ i.linkedin }}">{{ i.linkedin }}</a>
                     </span>
                  </div>
               </div>
            </div>
            {% endfor %}
            </div>
         


    </div>
   </form>
   {% else %}
   <div class="card mb-4 wow fadeIn">
      <div class="card-body text-center">
         <h4 class="mb-2 mb-sm-0 pt-1">
            <span>You are not allowed here !!</span>
         </h4>
         <h5 class="my-2 mb-sm-0 pt-1 text-danger">
            <br>
            <span>Only admin can change Social Media Links</span><br><br>
            <p>- Please Contact Admin -</p>
         </h5>
      </div>
   </div>
      {% endif %}
  </div>
</main>

{% endblock %}
      