
{% extends 'administration/admin_base.html' %}
{% load static %}

{% block title %} Ram's Rehab | Administration {% endblock title %}

{% block content %}
      
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
   {% if user.is_staff %}
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
              <span>Notes  / Reference</span>
          </h4>
          <form method="POST" class="d-flex justify-content-center">{% csrf_token %}
            <input name="note_body" type="search" placeholder="Add Notes here" aria-label="Search" class="form-control">
            <button style="overflow: visible;" class="btn btn-primary btn-sm my-0 px-3 waves-effect waves-light" type="submit">
            Add
            </button>
         </form>
        </div>
    </div>

   <div class="row  wow fadeIn">
      {% for notes in data %}
      
      <div class="col-md-6 ">
         <div class="card mb-4">
            <div class="card-body">
               <div class="list-group list-group-flush">
                  
                  <span class="d-flex justify-content-between">
                     <span>Note. <b>{{ forloop.revcounter }}</b></span> 
                     <small style="padding-right: 10px;"><b>{{ notes.submit_date | date:'d / m / Y' }}</b></small>
                  </span> 

                  <span class="list-group-item list-group-item-action waves-effect">
                     <span style="color: #541777;"><b>" {{ notes.note_body }} "</b></span>                       
                  </span>
                  <span class="d-flex justify-content-end">
                     <a href="{% url 'delete_notes' notes.id %}"><span class="badge badge-danger badge-pill pull-right">Delete</span></a>
                  </span>

               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   {% else %}
   <div class="card mb-4 wow fadeIn">
      <div class="card-body text-center">
         <h4 class="mb-2 mb-sm-0 pt-1">
            <span>You are not allowed here !!</span>
         </h4>
         <h5 class="my-2 mb-sm-0 pt-1 text-danger">
            <br>
            <span>Only admin can change Counter values</span><br><br>
            <p>- Please Contact Admin -</p>
         </h5>
      </div>
   </div>
      {% endif %}
  </div>
</main>

{% endblock %}
      