
{% extends 'administration/admin_base.html' %}
{% load static %}

{% block title %} Ram's Rehab | Administration {% endblock title %}

{% block content %}
      
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
    
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
              <span>Login Form</span>
          </h4>

        </div>
    </div>

    <form action="" method="POST">
      {% csrf_token %}
    <div class="row wow fadeIn">
  
      
         <div class="col-md-6 justify-content-center mx-auto">
         <div class="card mb-4">
            <div class="card-header text-white bg-primary">Login Form</div>
            <div class="card-body">
               <div class="list-group list-group-flush mb-4">
                  <div class="form-outline">
                     <label class="form-label" for="typeText1">Username : </label>
                     <input name="username" type="text" id="typeText1" class="form-control" />
                  </div>
                  <div class="form-outline mt-2">
                     <label class="form-label" for="typeText2">Password :</label>
                     <input name="password" type="password" id="typeText2" class="form-control" />
                  </div>
               </div>
               <div class="col-md-8 d-flex  justify-content-center mx-auto" >
                  <div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
               </div>
            </div>
         </div>
         </div>

    </div>
   </form>
  </div>
</main>

{% endblock %}
      