

{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
   <style>
      .about_bg{
      background: url("{% static 'home/img/bg/bg_1.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      }
      .jumbotron .lead a{
      text-decoration: none;
      color: white;
      }
      .jumbotron .lead a:hover{
      color:#007bff;
      text-decoration-line: underline;
      }
      html{
      scroll-behavior: smooth;
      }
      .jumbotron a{
      text-decoration:none;
      }
   </style>
 
 <style>
   @media (max-width: 992px) {
       .jumbotron h1 {
           font-size: 28px;
       }
       .jumbotron p{
           font-size: 15px;
       }
       .jumbotron a{
           font-size: 15px;
       }
       .jumbotron h4{
           font-size: 18px;
       }
   }
    </style>
   <section class="breadcrumbs">
      <div class="container">
         <div class="d-flex justify-content-between align-items-center">
            <h2>Musculoskeletal</h2>
            <ol>
               <li><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'musculoskeletal' %}">Musculoskeletal</a></li>
               <li>Wrist</li>
            </ol>
         </div>
      </div>
   </section>
   <section class="faq about_bg">
      <div class="container">
         <div class="section-title">
            <h2>Wrist</h2>
         </div>
         <div class="container">
            <div class="jumbotron text-white bg-white">
               <div style="text-decoration: none;" class="d-flex justify-content-around flex-wrap text-bold text-center">
                  <a class="border-bottom p-3" href="#a"> Wrist sprain</a><br/>
                  <a class="border-bottom p-3" href="#b"> Carpal tunnel syndrome </a><br/>
                  <a class="border-bottom p-3" href="#c"> Wrist stiffnes </a><br/>
                  <a class="border-bottom p-3" href="#d"> Thumb arthritis </a><br/>
                  <a class="border-bottom p-3" href="#e"> De quervain's tenosynovits </a>
               </div>
            </div>
         </div>
         <div class="row mx-auto justify-content-center">
            <div id="a" class="col-md-9">
               <div class="jumbotron text-white bg-dark">
                  <span class="text-small text-info">Therapy 1</span>
                  <h1 class="display-6">WRIST SPRAIN</h1>
                  <hr class="my-3">
                  <p class="lead pl-4">
                     - Fall on outstretched hand get a sprain between couple of your wrist bones<br/>
                     </p>    
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Treatment
                  </h4>
                  <p class="lead pl-4 py-2">
                     - PRICE protocol<br/>
                     - P- Protection<br/>
                     - R- Rest<br/>
                     - I- Ice<br/>
                     - C- Compression<br/>
                     - E- Elevation<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Therapeutic Exercise
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Wrist strenghthening<br/>
                     - Wrist isometric<br/>
                     - Wrist flexor strenghthening<br/>
                     - Wrist extensor strenghthening<br/>
                  </p>
                  
               </div>
            </div>
            <div id="b" class="col-md-9">
               <div class="jumbotron text-white bg-dark">
                  <span class="text-small text-info">Therapy 2</span>
                  <h1 class="display-6">CARPEL TUNNEL SYNDROME</h1>
                  <hr class="my-3">
                  <p class="lead pl-4">
                     - Median nerve compression in carpal tunnel<br/>
                     - Difficulty in wringing cloths <br/>
                     - Inability to hold a cup of water<br/>
                     - Couldn't grip things or pain during gripping<br/>
                     - Numbness and tingling feeling in the hand during typing or wrist movements<br/>
                     - Night pain<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Special Test
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Tinnel's test<br/>
                     - Wrist flexion median nerve compression test<br/>
                     - Phalens test<br/>
                     - Modified phalens test<br/>
                     - Closed fist lumbrical provocation test
         
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Treatment
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Electrotherapy<br/>
                     - Ultra sound<br/>
                     - LASER<br/>
                     - Dry Needling<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Therapeutic Exercise
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Meadian nerve glide<br/>
                     - ADL modification<br/>
                     - Myofascil release<br/>
                     - Manual therapy<br/>
                     - Stretching<br/>
                  </p>
               </div>
            </div>
            <div id="c" class="col-md-9">
               <div class="jumbotron text-white bg-dark">
                  <span class="text-small text-info">Therapy 3</span>
                  <h1 class="display-6">WRIST STIFFNESS</h1>
                  <hr class="my-3">
                  <p class="lead pl-4">
                     - Common after colle's fracture<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Treatment
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Electrotherapy<br/>
                     - Heat therapy<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Therapeutic Exercise
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Wrist isometrics<br/>
                     - Wrist mobilization<br/>
                     - Mallet twist<br/>
                     - Table top wrist stretch<br/>
                  </p>
                  
               </div>
            </div>
            <div id="d" class="col-md-9">
               <div class="jumbotron text-white bg-dark">
                  <span class="text-small text-info">Therapy 4</span>
                  <h1 class="display-6">THUMB ARTHRITIS</h1>
                  <hr class="my-3">
                  <p class="lead pl-4">
                     - Pain, Swelling, decresed strength and ROM<br/>
                     - Difficulty in doing simple task such as turning door knobs and opening jars <br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Special Test
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Grind test<br/>
         
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Treatment
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Electrotherapy<br/>
                     - Wax therapy<br/>
                     - Dry Needling<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Therapeutic Exercise
                  </h4>
                  <p class="lead pl-4 py-2">
                     - ADL Modification<br/>
                     - Joint mobilization<br/>
                     - Thumb passive ROM<br/>
                     - Self thumb traction<br/>
                     - Rubber band exercise<br/>
                     - Squeeze ball press<br/>
                     - Taping<br/>
                     - Thumb spica splint<br/>
                  </p>         
               </div>
            </div>
            <div id="e" class="col-md-9">
               <div class="jumbotron text-white bg-dark">
                  <span class="text-small text-info">Therapy 5</span>
                  <h1 class="display-6">DE QUERVAIN'S TENOYNOVITS</h1>
                  <hr class="my-3">
                  <p class="lead pl-4">
                     - Thickening of thumb's tendon<br/>
                     - Restricted back and forth movement <br/>
                     - Pain and tenderness<br/>
                     - Decresed movements of thumb
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Special Test
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Finkelstein test<br/>
         
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Treatment
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Electrotherapy<br/>
                     - Dry Needling <br/>
                     - Ultra sound<br/>
                  </p>
                  <h4 style="border-bottom: 1px solid rgb(131, 131, 131);">
                     Therapeutic Exercise
                  </h4>
                  <p class="lead pl-4 py-2">
                     - Rubber band exercise<br/>
                     - Squeeze ball pressing<br/>
                     - Thumb spica splint<br/>
                  </p>
                  
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
{% endblock content %}

