

{% extends 'base.html' %}
{% load static %}
{% block title %} Create New Blog Post {% endblock %}
{% block content %}
<main id="main">
   <style>
      .appointment-bg{
      background: url("{% static 'assets/img/logo/logo_light.png' %}");
      background-repeat: no-repeat;
      background-size: cover;
      }
   </style>
   <section class="breadcrumbs">
      <div class="container">
         <div class="d-flex justify-content-between align-items-center">
            <h2>Add Blog Post</h2>
            <ol>
               <li><a href="{% url 'home' %}">Home</a></li>
               <li>Add Blog Post</li>
            </ol>
         </div>
      </div>
   </section>
   <section id="Appointment" class="contact ">
      <div class="container">
         <div class="section-title">
            {% if user.is_authenticated %}
            <h2>Add Blog Post</h2>
            <p class="text-danger">* Header Image Size : 1024 X 692 Pixels</p>
            {% else %}
            <h2>You Can't allow here..</h2>
            <p>You Can't Add Post..Please login</p>
            
            <a href="{% url 'login' %}">
               <button class="submit_button mt-4 mr-2"><i class="icofont-login"></i> Login</button>
            </a>
            <a href="{% url 'home' %}">
               <button class="submit_button mt-3"><i class="icofont-home"></i> Home</button>
            </a>
            {% endif %}
         </div>
      </div>
      <style>
         #postform p{
         display: flex;
         }
         #postform label{
         margin-right: 10px;
         padding:5px 10px 0 10px;
         width: 200px;
         max-width: 200px;
         vertical-align: middle;
         }
         #postform input select{
         margin: 10px;
         padding: 10px;
         width: 400px;
         max-width: 500px;
         }
         #postform .django-ckeditor-widget{
         margin-bottom: 40px;
         }
         #postform #id_snippet{
         margin-bottom: 40px;
         }
         #postform #id_header_image {
         margin-bottom: 40px;
         }
         .submit_button{
            background: #1977cc;
            border: 0;
            padding: 10px 35px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;
            cursor: pointer;
            -webkit-appearance: button;
            text-transform: none;
            overflow: visible;
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            text-align: center !important;
            font-weight: 400;
         }
      </style>
      <div class="container ">
         <div class="row mt-3">
            <div class="col-lg-12 mt-5 mt-lg-0">
               {% if user.is_authenticated %}
               <form id="postform"  method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.media }}
                  <div class="col-md-8 text-center mx-auto">
                     {{ form.as_p }}
                     <button type="submit" class="submit_button">Submit Blog Post</button>
                  </div>
               </form>
               <script>
                  var name = "{{ user.id }}";
                  document.getElementById("dev").value = name;
               </script>
               {% else %}
               
               {% endif %}
              
            </div>
            
            
         </div>
      </div>
   </section>
</main>
{% endblock content %}

