{% extends 'base.html' %}
{% load static %}
{% block title %} Password Update {% endblock %}

{% block content %}
<main class="main">
   <div class="page-content pb-3">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-9">
               <div class="about-text text-center mt-3">
                  <div class="page-header  mb-3" style="background-image:url({% static 'assets/images/page-header-bg.jpg' %})">
                     <div class="container-fluid">
                        <h1 style="color: rgb(51, 153, 255);" class="page-title text-center">Done Successfully</h1>
                        <h6 class="pt-2">To Blog Post</h6>
                     </div>
                  </div>
               </div>
               <div class="container co-md-6 text-center mb-5">
                  <i class="icon-rocket" style="color: red; font-size:40px;"></i>
                  <h4 class="mb-1 " style="color: darkblue;">Your Password was chaneged Successfully.</h4>
                  <p class="mb-3" style="color: darkblue;">Congratulations..</p>
                  <a class="btn btn-dark" href="{% url 'login' %}">login</a>
                  <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
               </div>
                  <h1></h1>

               </div>
            </div>
         </div>
      </div>
   </div>
</main>

{% endblock %}